<ul id='url'>
  <% @links.each do |link| %>

    <li>
      <b>Title:</b> <%=link.name%>
      <b>URL:</b> <i><%=link.url%></i>
      <b>Tag:</b> <% link.tags.each do |tag| %>
        <%=tag.name%>
      <%end%>
    </li>
  <% end %>

</ul>
