<ul id='url'>
  <% begin %>
  <% @links.each do |link| %>

    <li>
      <b>Title:</b> <%=link.name%>
      <b>URL:</b> <i><%=link.url%></i>
      <b>Tag:</b> <% link.tags.each do |tag| %>
        <%=tag.name%>
      <%end%>
    </li>
  <% end %>
  <% rescue %>
  <h2> No links </h2>
  <% end %>

  <h1>Welcome echai93@gmail.com</h1>

  You are user number: <%= @user_count %>
</ul>
